### Practical No. 1 (b)
#### Aim:
# Exam mark prediction using Linear Regression-multipleVariable

### *Import Libraries*

In [34]:
import pandas as pd
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt
import numpy as np

### *Load Dataset*

In [35]:
#load dataset
data = pd.read_csv('exammark.csv')

In [36]:
#get the size of data set
data.shape

(201, 4)

In [37]:
#get first five records in dataset
data.head()

   hours  age  internet  marks
0    NaN   15         1  78.50
1   6.56   16         0  76.74
2   8.00   17         1  78.68
3   5.67   18         0  71.82
4   8.67   19         1  84.19

In [38]:
#get last five records in dataset
data.tail()

     hours  age  internet  marks
196   8.56   19         1  84.68
197   8.94   20         1  86.75
198   6.60   15         1  78.05
199   8.35   16         1  83.50
200    NaN   15         0  81.45

In [39]:
#describing the dataset-max,min,25%,50%,75%,mean,standard deviation
data.describe()

            hours         age    internet       marks
count  197.000000  201.000000  201.000000  201.000000
mean     6.986853   17.467662    0.552239   77.951244
std      1.555294    1.720523    0.498505    4.919626
min      0.220000   15.000000    0.000000   68.570000
25%      5.750000   16.000000    0.000000   73.400000
50%      7.120000   17.000000    1.000000   77.770000
75%      8.080000   19.000000    1.000000   82.300000
max     15.000000   20.000000    1.000000   86.990000

### *Load Summarize*

In [40]:
print(data.shape)
print(data.head(5))

(201, 4)
   hours  age  internet  marks
0    NaN   15         1  78.50
1   6.56   16         0  76.74
2   8.00   17         1  78.68
3   5.67   18         0  71.82
4   8.67   19         1  84.19

### *Finding & Removing NA values from our Features X*

In [41]:
data.columns[data.isna().any()]

Index(['hours'], dtype='object')

In [42]:
#Repalcing null values in hour column with its mean value  
data.hours = data.hours.fillna(data.hours.mean())

### *Segregate Dataset into Input X & Output Y*

In [43]:
X = data.iloc[:, :-1].values
print(X.shape)
print(X)

(201, 3)
[[ 6.98685279 15.          1.        ]
 [ 6.56       16.          0.        ]
 [ 8.         17.          1.        ]
 [ 5.67       18.          0.        ]
 [ 8.67       19.          1.        ]
 [ 7.55       20.          0.        ]
 [ 6.67       15.          0.        ]
 [ 8.99       16.          0.        ]
 [ 5.19       17.          1.        ]
 [ 6.75       18.          0.        ]
 [ 6.59       19.          0.        ]
 [ 8.56       20.          1.        ]
 [ 7.75       15.          0.        ]
 [ 7.9        16.          1.        ]
 [ 8.19       17.          0.        ]
 [ 6.55       18.          1.        ]
 [ 6.36       19.          0.        ]
 [ 8.44       20.          1.        ]
 [ 8.41       15.          0.        ]
 [ 7.67       16.          1.        ]
 [ 7.42       17.          1.        ]
 [ 8.16       18.          1.        ]
 [ 5.05       19.          1.        ]
 [ 5.85       20.          1.        ]
 [ 5.45       15.          0.        ]
 [ 7.96       16.          0.        ]
 [ 6.51       17.          0.        ]
 [ 6.73       18.          0.        ]
 [ 5.94       19.          1.        ]
 [ 7.48       20.          0.        ]
 [ 8.13       15.          1.        ]
 [ 8.         16.          1.        ]
 [ 5.4        17.          1.        ]
 [ 8.78       18.          0.        ]
 [ 8.72       19.          1.        ]
 [ 7.1        20.          0.        ]
 [ 7.86       15.          1.        ]
 [ 7.19       16.          0.        ]
 [ 5.62       17.          1.        ]
 [ 7.88       18.          0.        ]
 [ 5.28       19.          1.        ]
 [ 8.92       20.          1.        ]
 [ 5.46       15.          0.        ]
 [ 8.3        16.          1.        ]
 [ 8.09       17.          0.        ]
 [ 6.18       18.          1.        ]
 [ 7.01       19.          1.        ]
 [ 5.01       20.          0.        ]
 [ 5.54       15.          1.        ]
 [ 5.09       16.          1.        ]
 [ 5.09       17.          0.        ]
 [ 7.31       18.          1.        ]
 [ 8.71       19.          0.        ]
 [ 5.52       20.          1.        ]
 [ 8.76       15.          0.        ]
 [ 8.69       16.          1.        ]
 [ 5.75       17.          1.        ]
 [ 8.93       18.          1.        ]
 [ 5.39       19.          1.        ]
 [ 5.65       20.          0.        ]
 [ 5.49       15.          1.        ]
 [ 7.26       16.          1.        ]
 [ 6.35       17.          0.        ]
 [ 7.72       18.          1.        ]
 [ 8.88       19.          0.        ]
 [ 5.45       20.          1.        ]
 [ 7.86       15.          1.        ]
 [ 8.26       16.          0.        ]
 [ 5.07       17.          1.        ]
 [ 8.25       18.          0.        ]
 [ 5.37       19.          1.        ]
 [ 5.11       20.          1.        ]
 [ 6.35       15.          0.        ]
 [ 7.41       16.          1.        ]
 [ 7.31       17.          0.        ]
 [ 6.04       18.          1.        ]
 [ 5.11       19.          1.        ]
 [ 6.56       20.          0.        ]
 [ 5.09       15.          1.        ]
 [ 5.88       16.          0.        ]
 [ 8.34       17.          1.        ]
 [ 7.94       18.          0.        ]
 [ 6.66       19.          1.        ]
 [ 6.01       20.          1.        ]
 [ 6.88       15.          0.        ]
 [ 5.63       16.          1.        ]
 [ 5.88       17.          0.        ]
 [ 8.05       18.          1.        ]
 [ 5.33       19.          0.        ]
 [ 8.79       20.          0.        ]
 [ 7.52       15.          1.        ]
 [ 8.2        16.          0.        ]
 [ 5.44       17.          1.        ]
 [ 7.9        18.          0.        ]
 [ 7.69       19.          1.        ]
 [ 6.09       20.          0.        ]
 [12.         15.          1.        ]
 [ 5.2        16.          1.        ]
 [ 8.88       17.          0.        ]
 [ 8.07       18.          1.        ]
 [ 6.24       19.          1.        ]
 [ 7.95       20.          0.        ]
 [ 8.26       15.          0.        ]
 [ 7.31       16.          1.        ]
 [ 7.23       17.          1.        ]
 [ 6.46       18.          1.        ]
 [ 5.34       19.          1.        ]
 [ 5.72       20.          1.        ]
 [ 5.84       15.          0.        ]
 [ 5.02       16.          1.        ]
 [ 7.98       17.          0.        ]
 [ 6.37       18.          1.        ]
 [ 6.92       19.          0.        ]
 [ 7.95       20.          1.        ]
 [ 7.12       15.          0.        ]
 [ 5.79       16.          1.        ]
 [ 5.4        17.          0.        ]
 [ 8.83       18.          1.        ]
 [ 5.69       19.          0.        ]
 [ 6.6        20.          1.        ]
 [ 6.52       15.          0.        ]
 [ 8.31       16.          0.        ]
 [15.         17.          1.        ]
 [ 7.62       18.          0.        ]
 [ 8.69       19.          1.        ]
 [ 8.75       20.          0.        ]
 [ 6.46       15.          1.        ]
 [ 7.14       16.          1.        ]
 [ 6.38       17.          0.        ]
 [ 6.33       18.          1.        ]
 [ 5.64       19.          0.        ]
 [ 5.26       20.          1.        ]
 [ 6.83       15.          1.        ]
 [ 5.76       16.          0.        ]
 [ 6.51       17.          1.        ]
 [ 8.33       18.          0.        ]
 [ 8.16       19.          1.        ]
 [ 5.14       20.          0.        ]
 [ 8.71       15.          0.        ]
 [ 8.6        16.          1.        ]
 [ 8.6        17.          0.        ]
 [ 7.43       18.          1.        ]
 [ 7.81       19.          1.        ]
 [ 6.51       20.          0.        ]
 [ 8.11       15.          1.        ]
 [ 8.95       16.          0.        ]
 [ 7.99       17.          1.        ]
 [ 5.92       18.          0.        ]
 [ 8.3        19.          1.        ]
 [ 8.97       20.          0.        ]
 [ 5.39       15.          0.        ]
 [ 6.77       16.          0.        ]
 [ 8.08       17.          1.        ]
 [ 5.24       18.          0.        ]
 [ 6.93       19.          1.        ]
 [ 5.14       20.          0.        ]
 [ 8.39       15.          1.        ]
 [ 6.18       16.          0.        ]
 [ 7.53       17.          1.        ]
 [ 7.86       18.          0.        ]
 [ 7.7        19.          1.        ]
 [ 7.3        20.          0.        ]
 [ 7.79       15.          1.        ]
 [ 6.75       16.          0.        ]
 [ 7.87       17.          1.        ]
 [ 5.38       18.          0.        ]
 [ 7.8        19.          1.        ]
 [ 5.07       20.          0.        ]
 [ 7.95       15.          1.        ]
 [ 8.35       16.          0.        ]
 [ 5.19       17.          0.        ]
 [ 7.19       18.          0.        ]
 [ 7.35       19.          1.        ]
 [ 0.22       20.          1.        ]
 [ 5.39       15.          1.        ]
 [ 5.39       16.          1.        ]
 [ 8.93       17.          1.        ]
 [ 5.79       18.          0.        ]
 [ 6.98685279 19.          1.        ]
 [ 7.26       20.          0.        ]
 [ 6.97       15.          1.        ]
 [ 5.55       16.          1.        ]
 [ 8.66       17.          0.        ]
 [ 8.61       18.          1.        ]
 [ 5.22       19.          1.        ]
 [ 8.05       20.          0.        ]
 [ 0.87       15.          1.        ]
 [ 5.54       16.          0.        ]
 [ 5.         17.          0.        ]
 [ 7.26       18.          1.        ]
 [ 5.79       19.          0.        ]
 [ 5.22       20.          0.        ]
 [ 8.71       15.          1.        ]
 [ 6.98685279 16.          1.        ]
 [ 6.35       17.          1.        ]
 [ 7.53       18.          0.        ]
 [ 8.56       19.          1.        ]
 [ 8.94       20.          1.        ]
 [ 6.6        15.          1.        ]
 [ 8.35       16.          1.        ]
 [ 6.98685279 15.          0.        ]]

In [44]:
Y = data.iloc[:, -1].values
print(Y)

[78.5  76.74 78.68 71.82 84.19 81.18 76.99 85.46 70.66 77.82 75.37 83.88
 79.5  80.76 83.08 76.03 76.04 85.11 82.5  80.58 82.18 83.36 70.67 75.02
 70.96 83.33 74.75 75.65 74.15 80.17 82.27 76.14 71.1  84.35 83.08 76.76
 81.24 78.21 73.08 83.23 70.27 86.41 71.1  82.84 82.38 72.96 77.46 70.11
 72.38 71.41 72.22 77.77 84.44 71.45 82.21 85.48 75.03 86.65 70.9  71.7
 73.61 79.41 76.19 80.43 85.78 70.06 81.25 81.7  69.27 82.79 71.8  71.79
 74.97 78.61 77.59 72.33 72.08 77.33 70.05 73.34 84.   82.93 76.63 75.36
 77.29 72.87 73.4  81.74 71.85 84.6  79.56 82.1  72.08 79.1  81.01 76.48
 75.39 68.57 83.64 82.3  75.18 82.03 82.99 79.26 77.55 77.07 72.1  73.25
 74.25 70.58 81.08 75.04 76.38 80.86 78.42 74.44 70.34 85.04 73.61 75.55
 76.2  82.69 76.83 79.53 83.57 85.95 76.02 77.65 77.01 74.49 73.19 71.86
 75.8  72.46 78.39 83.48 83.15 71.22 85.98 83.91 84.58 80.31 82.55 75.52
 83.82 85.15 82.75 74.34 82.02 86.12 71.87 76.7  81.7  70.78 78.45 70.2
 83.37 75.52 81.57 80.72 80.81 79.49 79.17 77.07 82.04 71.94 81.6  70.79
 82.68 83.08 71.18 77.63 77.78 70.4  73.02 71.11 85.96 73.64 84.24 78.17
 77.19 71.83 86.99 83.87 71.5  79.63 85.1  72.01 77.27 79.87 73.14 70.51
 84.03 79.64 74.24 81.67 84.68 86.75 78.05 83.5  81.45]

### *Training Dataset using Linear Regression*

In [45]:
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

# *Predicted marks*

In [46]:
a=[[4.25,18,1]]
PredictedmodelResult = model.predict(a)
print(PredictedmodelResult)
b=PredictedmodelResult

[71.39742752]

In [47]:
print("The",a[0][1]," years old person who studies ",a[0][0],
      " hours a day and having an active internet connection will get "
      ,round(b[0])," marks")

The 18  years old person who studies  4.25  hours a day and having an active internet connection will get  71  marks