### Titanic Survival prediction using NAIVE BAYES CLASSIFIER

#### *Importing basic libraries*

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### *Loading dataset*

In [13]:
dataset=pd.read_csv("titanic_train_data.csv")
dataset.head(5)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Family_Size
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr,1
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs,1
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss,0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs,1
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr,0

In [14]:
print(dataset.shape)

(891, 14)

In [15]:
dataset.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Family_Size
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,29.445196,32.204208,0.381594,446.000000,2.308642,0.523008,0.383838,0.904602
std,13.244896,49.693429,0.806057,257.353842,0.836071,1.102743,0.486592,1.613459
min,0.420000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,22.000000,7.910400,0.000000,223.500000,2.000000,0.000000,0.000000,0.000000
50%,30.000000,14.454200,0.000000,446.000000,3.000000,0.000000,0.000000,0.000000
75%,35.500000,31.000000,0.000000,668.500000,3.000000,1.000000,1.000000,1.000000
max,80.000000,512.329200,6.000000,891.000000,3.000000,8.000000,1.000000,10.000000

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          891 non-null    float64
 1   Cabin        204 non-null    object
 2   Embarked     891 non-null    object
 3   Fare         891 non-null    float64
 4   Name         891 non-null    object
 5   Parch        891 non-null    int64
 6   PassengerId  891 non-null    int64
 7   Pclass       891 non-null    int64
 8   Sex          891 non-null    object
 9   SibSp        891 non-null    int64
 10  Survived     891 non-null    float64
 11  Ticket       891 non-null    object
 12  Title        891 non-null    object
 13  Family_Size  891 non-null    int64
dtypes: float64(3), int64(5), object(6)
memory usage: 97.6+ KB

In [17]:
dataset.columns

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket', 'Title', 'Family_Size'],
      dtype='object')

#### droping the Coloumns which are of no use

In [18]:
dataset=dataset.drop(['Cabin','Embarked','Name','Parch', 'PassengerId'
                        ,'SibSp','Ticket', 'Title', 'Family_Size'],axis=1)

In [19]:
dataset.head(5)

    Age     Fare  Pclass     Sex  Survived
0  22.0   7.2500       3    male       0.0
1  38.0  71.2833       1  female       1.0
2  26.0   7.9250       3  female       1.0
3  35.0  53.1000       1  female       1.0
4  35.0   8.0500       3    male       0.0

In [20]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
dataset['Sex']=label_encoder.fit_transform(dataset['Sex'])

In [21]:
dataset.columns[dataset.isna().any()]

Index([], dtype='object')

In [22]:
dataset.head(5)

    Age     Fare  Pclass  Sex  Survived
0  22.0   7.2500       3    1       0.0
1  38.0  71.2833       1    0       1.0
2  26.0   7.9250       3    0       1.0
3  35.0  53.1000       1    0       1.0
4  35.0   8.0500       3    1       0.0

#### Segregate data into X(Independent/Input features) & Y(Dependent/Output feature)

In [23]:
X=dataset.drop(['Survived'],axis=1)
Y=dataset['Survived']

#### splitting data into training and testing dataset

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,Y, test_size=0.25,random_state=5)

#### Fitting training data to Naive Bayes Classifier Algorithm

In [25]:
from sklearn.naive_bayes import GaussianNB
naive_bayes_classifier=GaussianNB()
naive_bayes_classifier.fit(X_train,y_train)

GaussianNB()

#### Predicting the output for test data

In [26]:
y_pred=naive_bayes_classifier.predict(X_test)

#### Checking the accuracy of the model

In [27]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Confusion Matrix: \n", confusion_matrix(y_test, y_pred))
print("Accuracy of the model is:{0} %".format(accuracy_score(y_test,y_pred)*100))

Confusion Matrix:
 [[122  18]
 [ 22  61]]
Accuracy of the model is:82.0627802690583 %

#### Prediction for one person

In [29]:
Age=int(input("Enter the person's Age: "))
Fare=int(input("Enter the Fare Charges for that person: "))
Pclass=int(input("Enter the person's Class No.: "))
Sex=int(input("Enter gender of that person(1-Female/0-Male): "))
person=[[Age,Fare,Pclass,Sex]]
result=naive_bayes_classifier.predict(person)

print(result)
if(result==0):
    print("Person might not be survived.")
else:
    print("Person might be survived")

Enter the person's Age: 26
Enter the Fare Charges for that person: 50
Enter the person's Class No.: 3
Enter gender of that person(1-Female/0-Male): 0
[1.]
Person might be survived

C:\Users\usder\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(